bin
obj
.vs
.vscode

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
install
config

node_modules
archives
messages
content.json
messagequeue.json
messages.json
peers.json
config.json