bin
obj
.vs
.vscode
Qaoss*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
config/config.json
node_modules
archives
messages
content.json
messagequeue.json
messages.json
peers.json