bin
obj
archives/*
.vs
.vscode
Qaoss*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
config/config.json
content.json
profile.jpg
node_modules
messages
messagequeue.json
messages.json
peers.json